<script lang="ts">
  import { push } from 'svelte-spa-router'

  import { titleStore, softkeysStore } from '../stores.ts'
  titleStore.update(() => 'Convo')
  softkeysStore.update((k) => {
    k.left.label = 'Exit'
    k.left.callback = () => {
      window.close()
    }
    k.center.label = 'Select'
    k.center.callback = () => {}
    k.right.label = null
    k.right.callback = () => {}
    return k
  })

  import Buttons from '../components/Buttons.svelte'
  import Button from '../components/Button.svelte'
  import Text from '../components/Text.svelte'

  // Account creation (or not)
  function createAccount() {
    alert('Unfortunately, you cannot create an account yet :(')
  }

  function signIn() {
    push('/login')
  }
</script>

<Text>
  <p>Welcome to Convo!</p>
</Text>
<Buttons>
  <Button tabindex=0 onClick={createAccount}>Create account</Button>
  <Button tabindex=1 onClick={signIn}>Sign in</Button>
</Buttons>
