<script lang="ts">
  import Text from '../components/Text.svelte'
  import Input from '../components/Input.svelte'
  import Checkbox from '../components/Checkbox.svelte'

  import {
    titleStore,
    softkeysStore,
    xmppConnected,
    username,
    password,
    useAdvancedSettings,
    boshURL,
    wsURL,
  } from '../stores.ts'

  import { push, pop } from 'svelte-spa-router'
  import converse from '../converse.js'

  let xmppConnecting = false

  titleStore.update(() => 'Convo Login')
  softkeysStore.update((k) => {
    k.left.label = 'Back'
    k.left.callback = pop
    k.center.label = '  ' // hack
    k.center.callback = () => {
      document.activeElement.click()
    }
    k.right.label = 'Connect'
    k.right.callback = () => {
      if (!username || !password) {
        alert('Please fill in your username and password')
        return
      }

      // Don't try to connect if already connecting
      if (xmppConnecting) return

      // Set the button!
      xmppConnecting = true
      softkeysStore.update((k) => {
        k.right.label = 'Connect...'
        return k
      })

      let opts = {
        jid: $username,
        password: $password,
        whitelisted_plugins: ['convo'],
        debug: true,
        auto_login: true,
        loglevel: 'warn', // make 'debug' for debugging
        forward_messages: false,
        enable_smacks: true,
        allow_chat_pending_contacts: true,
        allow_non_roster_messaging: true,
        roster_groups: false,

        // Special optimisations to reduce memory usage on KaiOS
        mam_request_all_pages: false,
        muc_fetch_members: ['owner'], // no admin or member, to reduce load
        muc_respect_autojoin: false,
        archived_messages_page_size: 10,
        prune_messages_above: 30,

        // BOSH and WebSocket configuration
        bosh_service_url: $useAdvancedSettings && $boshURL || undefined,
        websocket_url: $useAdvancedSettings && $wsURL || undefined,
      }
      console.log(opts)

      converse.initialize(opts).then(() => {console.debug('Connection initialised')})
    }

    return k
  })

  $: {
    if ($xmppConnected) {
      // Navigate to chat screen when connected
      push('/messages')
    }
  }
</script>

<Text>
  <p>Please enter your login details.</p>
</Text>
<Input label="Username" bind:value={$username} tabindex="0" autofocus/>
<Input label="Password" bind:value={$password} tabindex="1" hidden/>
<Checkbox text="Advanced settings" bind:checked={$useAdvancedSettings} tabindex="2"/>
{#if $useAdvancedSettings}
<Input label="BOSH URL" bind:value={$boshURL} tabindex="3"/>
<Input label="WebSocket URL" bind:value={$wsURL} tabindex="4"/>
{/if}
