<script lang="ts">
  import Text from '../components/Text.svelte'
  import ListItem from '../components/ListItem.svelte'

  import { push } from 'svelte-spa-router'
  import { _converse } from '@converse/headless/core'

  import {
    titleStore,
    softkeysStore,
    xmppConnected,
  } from '../stores.ts'

  titleStore.update(() => 'Convo')

  softkeysStore.update((k) => {
    k.left.label = 'New'
    k.left.callback = () => {
      push('/contacts')
    }

    k.center.label = 'Open'
    k.center.callback = () => {
      document.activeElement.click()
    }

    k.right.label = 'Options'
    k.right.callback = () => {}

    return k
  })

  // Main function for this view: get a conversation going!
  function openChat(chatID) {
    push(`/chat/${chatID}`)
  }

  // Run this and unsubscribe after one
  // second. (The xmppConnected.subscribe function
  // returns the unsubscribe callback, which we
  // then call with setTimeout after 1000 ms)
  setTimeout(xmppConnected.subscribe(value => {
    if (!value) {
      push('/redirect') // redirects to home
    }
  }), 1000)

  // Stores information on the rendered chatboxes
  let chatboxes = []
  let chatboxesRenderedAt = 0 // a very, very long time ago
  let chatboxesRendering = false // is a rendering scheduled?

  // TODO: use a sliding window so that only the chatboxes
  // that are in view get rendered

  // Helper function to fetch avatars for a chatbox
  function getAvatar(chatJID) {
    let vcard = _converse.vcards.get(chatJID)
    if (vcard && vcard.attributes?.image) {
      return {
        src: 'data:'
	  + vcard.attributes.image_type
	  + ';base64,'
	  + vcard.attributes.image,
	alt: 'Profile picture for ' + chatJID,
      }
    } else {
      return undefined
    }
  }

  // Helper function to convert chatboxes into
  // (exceedingly lightweight) object array for
  // final rendering
  function chatboxesToArray(chatboxes) {
    return chatboxes.models.map(c => ({
      id: c.id,
      title: c.get('nickname') || c.get('name') || c.get('jid') || c.get('id'),
      lastMessage: c.messages?.last()?.attributes?.body,
      avatar: getAvatar(c.id),
    }))
  }

  function renderChatboxes() {

    // If the chatboxes are empty, just render an empty array
    if (!_converse?.chatboxes) {
      chatboxes = []
      return
    }

    // If the chatboxes were updated more than 5 seconds ago,
    // render them again immediately
    if (new Date() - chatboxesRenderedAt > 5000) {
      chatboxes = chatboxesToArray(_converse?.chatboxes)
    } else {
      // If they were updated less than 5 seconds ago, check
      // if a re-render has been scheduled
      if (chatboxesRendering) {
        return
      } else {
        chatboxesRendering = true

        // Render them after a gap
	setTimeout(function () {
	  chatboxesRendering = false
	  chatboxesRenderedAt = new Date()
	  renderChatboxes()
	}, 5000)
      }
    }
  }

  // Render them once
  renderChatboxes()

  _converse.on('chatBoxesFetched', () => {
    renderChatboxes()
  })

  _converse.on('message', () => {
    renderChatboxes()
  })
</script>

{#if !chatboxes.length}
<Text>
  <p>You have no conversations. How about starting one?</p>
</Text>
{:else}
  {#each chatboxes as convo, index (convo.id)}
    <ListItem
      text={convo.title}
      subtext={convo.lastMessage}
      image={convo.avatar}
      tabindex={index}
      onclick={() => openChat(convo.id)}
    />
  {/each}
{/if}
