:root {
  --capitalization: none;
}

html,
body {
  font-size: 1.7em;
  font-weight: 400;
  background: #6800a5;
}

#splash {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  background: #6800a5;
  display: flex;
}

#splash img {
  margin: auto;
  width: 50vw;
}
