<script>
  export let tabindex = 0
  export let disabled = false
  export let onClick = () => {}
</script>

<button class="button-container__button {disabled ? '' : 'focusable'}" tabindex={tabindex} {disabled} on:click={onClick}>
  <slot/>
</button>
