<script>
  export let text = 'Checkbox'
  export let subtext = ''
  export let tabindex = 0
  export let autofocus = false
  export let checked = false
</script>

<div class="checkbox-container">
  <p class="checkbox-container__text">{text}</p>
  {#if subtext}
  <p class="checkbox-container__subtext">{subtext}</p>
  {/if}
   <input
    type="checkbox"
    tabindex="{tabindex}"
    class="focusable checkbox-container__input"
    {autofocus}
    bind:checked={checked}
  />
  <div class="checkbox-container__checkbox"></div>
</div>

<style>
  .checkbox-container.selected {
    background: var(--item-focused-background);
    color: var(--item-focused-text-color);
  }

  .checkbox-container.selected .checkbox-container__text {
    color: var(--item-focused-text-color);
  }

  .checkbox-container.selected .checkbox-container__subtext {
    color: var(--item-focused-subtext-color);
  }

  .checkbox-container__input + .checkbox-container__checkbox {
    /* you can change it to "/checkboxes-radios/checkbox-on-kaios-2.5.svg" */
    background-image: url("/checkboxes-radios/checkbox-off-kaios-2.5.3.svg");
  }

  .checkbox-container__input:checked + .checkbox-container__checkbox {
    /* you can change it to "/checkboxes-radios/checkbox-on-kaios-2.5.svg" */
    background-image: url("/checkboxes-radios/checkbox-on-kaios-2.5.3.svg");
  }

  /* for when they're selected */
  :global(.selected > .checkbox-container__input + .checkbox-container__checkbox) {
    background-image: url("/checkboxes-radios/checkbox-off-selected-kaios-2.5.3.svg") !important;
  }

  :global(.selected > .checkbox-container__input:checked + .checkbox-container__checkbox) {
    background-image: url("/checkboxes-radios/checkbox-on-selected-kaios-2.5.3.svg") !important;
  }
</style>
