<script>
  export let label = 'Input'
  export let tabindex = 0
  export let hidden = false
  export let autofocus = false
  export let value = null
</script>

<div class="input-container">
  <label class="input-container__label">{label}</label>
  {#if hidden}
  <input type="password" tabindex="{tabindex}" class="input-container__input focusable" bind:value={value} {autofocus} on:focus on:blur/>
  {:else}
  <input type="text" tabindex="{tabindex}" class="input-container__input focusable" bind:value={value} {autofocus} on:focus on:blur/>
  {/if}
</div>

<style>
  .input-container.selected {
    background: var(--item-focused-background);
    color: var(--item-focused-text-color);
  }

  .input-container.selected .input-container__label {
    color: var(--item-focused-subtext-color)
  }
</style>
