<script>
  import { onMount } from 'svelte'
  export let title = "Options"

  // Function to call in order to close the menu.
  // This is triggerd either with the "back" button
  // or when one of the options is selected.
  export let toggler = function() {
    console.error("You didn't provide a toggler function to close the options menu!")
  }

  // Special navigation for the options menu
  function optionNav(move) {
    let currentIndex = Number(document.activeElement.dataset.index || 0)
    let next = currentIndex + move
    let items = document
      .querySelectorAll('.options .list-item')

    // Loop around if at end
    if (next < 0) next = items.length - 1
    if (next > items.length - 1) next = 0

    let targetElement = items[next]
    targetElement.focus()
  }

  // Override the keydown handler
  function handleKeydown(e) {
    switch(e.key) {
      case 'ArrowUp':
        optionNav(-1)
        e.stopPropagation()
	break
      case 'ArrowDown':
        optionNav(1)
	e.stopPropagation()
	break
      case 'Enter':
        toggler()
        document.activeElement.click()
	e.stopPropagation()
        break
      case 'Backspace':
        toggler()
        e.stopPropagation()
	e.preventDefault()
	break
    }
  }

  onMount(() => {
    for (let el of document.getElementsByClassName('options')) {
      el.addEventListener('keydown', handleKeydown)
    }

    // Focus the first option item
    let optionItems = document
      .querySelectorAll('.options .list-item');

    // Set the index attributes (We assume this won't
    // change too often/until the next time the menu
    // is opened. If we find that it does change too
    // often, this code could be moved into the nav
    // function instead, though performance would take
    // a hit.)
    [...optionItems].forEach((el,i) => {
      el.dataset.index = i
    })

    if (optionItems.length) {
      optionItems[0].focus()
    }
  })
</script>

<div class="overlay"></div>
<div class="options">
  <div class="header">{title}</div>
  <div class="items">
    <slot/>
  </div>
</div>
<div class="softkeys">
  <div class="softkey-left"></div>
  <div class="softkey-center">Select</div>
  <div class="softkey-right"></div>
</div>

<style>
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  overflow: none;
  background: black;
  opacity: 0.5;
}

.header {
  text-align: center;
  vertical-align: middle;
  line-height: var(--softkeys-height);
  padding: 0 1rem 0 1rem;
  background: var(--softkeys-background);
  color: var(--softkeys-color);
  font-size: 1.7rem;
  font-weight: 400;
}

.options {
  position: absolute;
  bottom: var(--softkeys-height);
  left: 0;
  right: 0;
  background: white;
  max-height: calc(100vh - (var(--softkeys-height) * 2) - 26px);
  overflow: hidden;
}

.options .items {
  max-height: calc(100vh - (var(--softkeys-height) * 3) - 26px);
  overflow: scroll;
}

.softkeys {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
</style>
