<script>
  import { onMount } from "svelte"

  export let items = []
  export let activeTab

  onMount(() => {
    if (
      Array.isArray(items)
        && items.length
    ) {
      activeTab = 0
    }
  })

  const handleClick = tabValue => () => (activeTab = tabValue)
  const moveLeft = () => {
    activeTab = (activeTab + items.length - 1) % items.length
  }

  const moveRight = () => {
    activeTab = (activeTab + 1) % items.length
  }

  document.addEventListener('keydown', (e) => {
    switch(e.key) {
      case 'ArrowLeft':
        moveLeft()
        break
      case 'ArrowRight':
        moveRight()
        break
    }
  })
</script>

<ul class="tab-container">
  {#if Array.isArray(items)}
    {#each items as item, index}
      <li class="tab{activeTab === index ? ' active' : ''}">
        <span class="label" on:click={handleClick(index)}>
          {item}
        </span>
      </li>
    {/each}
  {/if}
</ul>
