<script lang="ts">
  // set this to make the element selectable
  export let tabindex = null
</script>

<div class="text-container{ tabindex ? ' focusable' : ''}" tabindex={tabindex}>
  <slot/>
</div>

<style>
  .text-container {
    padding: 1rem;
    background: var(--item-background);
    color: var(--item-text-color);
  }
  .text-container:focus {
    background: var(--item-focused-background);
    color: var(--item-focused-text-color);
  }
</style>
